body {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #404040;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea, select {
	font: normal 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
}


h1, h2, h3 {
	font-weight: normal;
	color: #212121;
}

h1 {
	letter-spacing: -1px;
	font-size: 2.2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

p, ul, ol {
}

p {
}

.blockbg {
	background: #D9D785;
}

blockquote {
	background: url(../images/img08.jpg) no-repeat left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: 0 0 0 15px;
	padding: 0px 20px 0px 30px;
	font-size: 18px;
	color: #3D3D3D;
}

ul {
}

ol {
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
	border: #D9D785 1px dashed;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
	border: #D9D785 1px dashed;
}

.text1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: 0 0 0 15px;
	padding: 90px 20px 0px 30px;
	font-size: 30px;
	color: #FFFFFF;
}

/* Header */

#header {
	width: 900px;
	margin: 0 auto;
	height: 10px;
	letter-spacing: -1px;
	font-family: Georgia, "Times New Roman", Times, serif;
}


#headerbg {
	clear: both;
	margin: 0 auto;
	width: 900px;
	height: 209px;
	background: url(../images/3.jpg) no-repeat left top;
	margin: 0 auto;
	margin-top: 20px;
}

	/* menuTop */

#menuTop {
	 margin-top: 21px;
}

#menuTop ul {
	list-style: none;
}

#menuTop li {
	display: inline;
}

#menuTop a {
	padding: 0px 90px 0 0px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #4E4E4E;
}

#menuTop a:hover {
	background-color: #bababa;
	color: #ffffff;
}

#menuTop  .current_page_item  a {
	background-color: #000000;
	color: #ffffff;
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding-top: 20px;
	background: #F4F4F4;
    height: 600px;
}

#latest-post {
	float: left;
	width: 570px;
	padding: 0px 20px 0px 20px;
	line-height: 25px;
	font-size: 12px;
}

	/* SideMenu */

#menuSide {
	float: right;
	width: 250px;
	height: 450px;
	padding: 0px 20px 20px 20px;
	line-height: 25px;
	font-size: 12px;
}

#menuSide .title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

#menuSide .title li  {
	text-align: left;
}

	/* ContentTable */

#contentTable {
	text-align: center;
}

#contentTable tr {
	height: 30px;
}

#contentTable td {
	width: 300px;
	line-height: 1;
}

#contentTable #title {
	font-weight: bold;
	height: 35px;
}


	/* EditablePages */
#editTable .title {
	font-weight: bold;
	height: 35px;
}



	/* MainContent*/

.post {
}

.post .title {
	margin: 0;
}

.post .meta {
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	line-height: normal;
	font-size: 13px;
	color: #505050;
}

.post .meta a {
	color: #000000;
}

.post .entry {
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: #9C9C9C 1px dashed;

}

	/* Pager */

#pager {
	clear: both;
	text-align: center;
	margin-bottom: 10px;
}

#pager small a {
	text-decoration: none;
}

#pager small a:hover {
	text-decoration: underline;
}

/* Footer */

#footer {
	width: 900px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: url(../images/img06.jpg) no-repeat left top;
	font-size: 11px;
	color: #CCCCCC;
}

#footer p {
	margin: 0;
	padding: 13px 20px 15px 20px;
}

#footer a {
	color: #FFFFFF;
}

#legal {
	float: left;
}

#links {
	float: right;
}





#searchForm {
	float: right;
	width: 250px;
	padding: 0px 20px 20px 20px;
	text-align: left;
}

